header {
  height: 10vh;
  background: linear-gradient(90deg,
      rgb(17, 117, 4) 0%,
      rgb(28, 255, 58) 100%);
  display: flex;
  align-items: center;
  text-align: center;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-row {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  margin: 10px auto;
  background: #5F47E6;
  background: -webkit-linear-gradient(top left, #5F47E6, #17C865);
  background: -moz-linear-gradient(top left, #5F47E6, #17C865);
  background: linear-gradient(to bottom right, #5F47E6, #17C865);
  color: white;
}

.todo-row:nth-child(4n + 1) {
  background: #ED5566;
  background: -webkit-linear-gradient(top left, #ED5566, #3851D4);
  background: -moz-linear-gradient(top left, #ED5566, #3851D4);
  background: linear-gradient(to bottom right, #ED5566, #3851D4);
}

.todo-row:nth-child(4n + 2) {
  background: #1710A3;
  background: -webkit-linear-gradient(top left, #1710A3, #8D83F1);
  background: -moz-linear-gradient(top left, #1710A3, #8D83F1);
  background: linear-gradient(to bottom right, #1710A3, #8D83F1);
}

.todo-row:nth-child(4n + 3) {
  background: #5713DA;
  background: -webkit-linear-gradient(top left, #5713DA, #B14C8B);
  background: -moz-linear-gradient(top left, #5713DA, #B14C8B);
  background: linear-gradient(to bottom right, #5713DA, #B14C8B);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}